# git ignore file

# python related
*.pyc
ipynb_checkpoints/
__pycache__/

# zip and compressed files
*.zip
*.gz
*.tar
*.tar.gz
*.pth.tar

# foler
draft/*
.VSCodeCounter/
data/__MACOSX/*
resources/models/**

# json
model/**/*.json
!model/recipe/*.json

# data
*.csv
*.log
*.jpg
*.png
**/.DS_Store
!data/label.csv
!data/test.csv